.register-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/images/background2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.register-form {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.register-input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.register-button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  background: #39ff14;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.register-error {
  color: red;
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 1rem;
}

.register-Return {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  background: #fafafa;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}